@import url('./reset.scss');

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}
// body {
//   background: url('./images/bg.png') repeat center;
// }
.flip {
  position: relative;
}
.front-top,
.front-bottom,
.back-top,
.back-bottom {
  position: absolute;
  height: 50%;
  overflow: hidden;
  
}
.front-bottom,
.back-bottom {
  top: 50%;
  z-index: 2;
  .char {
    top: -100%;
  }
}
.char {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  background: #222;
}

.front-top {
  transform: perspective(140px) rotateX(0);
  transform-origin: bottom;
  transition: transform 0.5s linear;
  backface-visibility: hidden;
  z-index: 3;
}
.back-bottom {
  transform: perspective(140px) rotateX(180deg);
  transform-origin: top;
  transition: transform 0.5s linear;
  backface-visibility: hidden;
  z-index: 3;
}
.active .front-top {
  transform: perspective(140px) rotateX(-180deg);
}
.active .back-bottom {
  transform: perspective(140px) rotateX(0);
}
